{% extends "layout.html" %}
{% block title %}Trang chính{% endblock %}
{% block content %}
<h2>📚 Bộ đề trắc nghiệm ôn luyện cùng AI</h2>
<div style="margin: 20px 0;">
  <a href="/exam/de1">📝  Đề 1- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de2">📝  Đề 2- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de3">📝  Đề 3- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de4">📝  Đề 4- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de5">📝  Đề 5- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de6">📝  Đề 6- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de7">📝  Đề 7- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de8">📝  Đề 8- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de9">📝  Đề 9- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de10">📝  Đề 10- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de11">📝  Đề 11- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de12">📝  Đề 12- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de13">📝  Đề 12- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de14">📝  Đề 14- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de15">📝  Đề 15- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de16">📝  Đề 16- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de17">📝  Đề 17- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de18">📝  Đề 18- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de19">📝  Đề 19- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de20">📝  Đề 20- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <h2>📚 Chấm bài tự luận bằng hình ảnh</h2>
  <a href="/upload_image2">📸 Bài kiểm tra cuối hk1 khối 10 2025-2026     </a><br><br>
  <a href="/upload_image">📸 Bài kiểm tra giữa HK2 khối 10 2025-2026      </a><br><br>
  <a href="/upload_image3">📸 Bài kiểm tra giữa hk2 khối 11 2025-2026     </a>
</div>
{% endblock %}