{% extends "layout.html" %}
{% block title %}Trang chính{% endblock %}
{% block content %}
<h2>📚 Bộ đề trắc nghiệm ôn luyện cùng AI</h2>
<div style="margin: 20px 0;">
  <a href="/exam/de1">📝  VIP1- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de2">📝  VIP2- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de3">📝  VIP3- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de4">📝  VIP4- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de5">📝  VIP5- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de6">📝  VIP6- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de7">📝  VIP7- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de8">📝  VIP8- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <a href="/exam/de9">📝  VIP9- PHÁT TRIỂN ĐỀ MINH HỌA THPT</a><br><br>
  <h2>📚 Chấm bài tự luận bằng hình ảnh</h2>
  <a href="/upload_image">📸 Bài kiểm tra giữa HK2 khối 10</a>
  <a href="/upload_image2">📸 Bài kiểm tra cuối hk1 khối 10</a>
</div>
{% endblock %}